
.profile-card-d {
  background: #41c2a4;
  border-radius: 18px;
  height: auto;
}

.profile-card-d h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}
.profile-card-d p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  color: #ffffff;
}

.order-drp {
  width: 100%;
  background: #3b414a;
  border-radius: 17px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #ffffff;
}


.profile-card-d button {
  background: #ffffff;
  border-radius: 100px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  border: none;
  color: #41c2a4;
}

.dropdown image {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown image img {
  object-fit: contain;
  width: 25px;
}
.change-btn {
  background: #4b4c56;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  color: white;
  font-size: 14px;
}
.remove-btn{
    font-weight: 500;
font-size: 14px;
background-color: transparent;
border: none;
color: #797979;
}

.user_details{
    font-family: 'Poppins';
font-style: normal;
color: #47455A;
font-weight: 600;
font-size: 18px;
line-height: 27px;
}
.user-form label{
    
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
text-transform: capitalize;

color: #3B414A;
}
.user-form input::placeholder{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
/* identical to box height */


color: #11131E;

opacity: 0.6;
}
.user-form input{
    border: 2px solid #EAEEF5;
border-radius: 10px;
}
.btn-img {
  background: linear-gradient(180deg, #c8ecfc 0%, #f5fad6 100%);
  border-radius: 14px;
}
.cp-btn {
  border: none;
  color: red;
  background-color: transparent;
}

