.history-head{
    background: #47455A;
    padding:30px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 45px;
text-transform: capitalize;
color: #FFFFFF;
}
.table{
    background: #E5E5E5;
}
.hist-subhead{
    width: 100%;
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 45px;
text-transform: capitalize;
color: #3B414A;
}
.hist-subhead span{
font-weight: 400;
font-size: 18px;
color: #3B414A;
float: right;
}

.iSAVrt{
    font-weight: bold;
}
.clear {
    float: right;
}
@media only screen and (max-width: 320px) {
    .hist-subhead span {
        float: left;
    }

}