.app-footer{
    background: #47455A;
    /* padding:60px 0 40px 0; */
}
.app-apk-buttons{
    height:40px;
}

.app-copyrights-section{
    border-top: 1px solid rgb(0 0 0 / 20%);
    text-align: center;
    color:#fff;
    margin:0;
}

.footer-content a{
    margin:10px;
    text-decoration: none;
    color: #fff;
   
}
ul{
    margin: 0px !important;
    padding: 0px !important;
}
@media only screen and (max-width: 768px) {
   .footer-content img{
    margin-top: 0px !important;
   }
   .footer-content{
    text-align: center !important;
   }
   .footer-content a {
    margin: 10px;
    font-size: 13px;
   }
   .app-apk-buttons {
    height: 30px;
}
.app-copyrights-section {
    font-size: 12px;
}
  }